.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(249, 249, 249);
}

#box {
    float: left;
    height: 59px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    -webkit-box-shadow: rgb(181, 142, 142) 2px 0px 3px 0px;
    box-shadow: rgb(181, 142, 142) 2px 0px 3px 0px;
    background-color: rgb(255, 255, 255);
}

#text {
    float: left;
    font-size: 1em;
    width: 33.527697%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 3.3em;
    margin-left: 34.132046%;
    margin-top: 0px;
    clear: none;
    min-height: 59px;
    font-family: 'Curlz MT';
    color: rgb(197, 26, 26);
}

#textspan {
    float: none;
    font-size: 2.1em;
}

#box1 {
    float: left;
    height: 506px;
    margin-left: 0%;
    margin-top: 44px;
    clear: both;
    width: 30.612245%;
    background-image:url("img/20160804_123316.png");
    background-attachment: inherit;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#text2 {
    float: left;
    font-size: 1.7em;
    width: 45.383868%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2.320214%;
    margin-top: 44px;
    clear: none;
    min-height: 62px;
    color: rgb(20, 48, 135);
    font-family: 'Segoe UI';
}

#text3 {
    float: left;
    font-size: 1.3em;
    width: 44.800777%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -45.383868%;
    margin-top: 114px;
    clear: none;
    min-height: 39px;
    font-family: 'Segoe UI';
    color: rgb(20, 48, 135);
}

#text4 {
    float: left;
    font-size: 1.3em;
    width: 44.800777%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: -45.383868%;
    margin-top: 153px;
    clear: none;
    min-height: 301px;
    font-family: 'Segoe UI';
    color: rgb(104, 100, 100);
}

#text5 {
    float: left;
    font-size: 1em;
    width: 33.527697%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 3.3em;
    margin-left: -44.184281%;
    margin-top: 454px;
    clear: none;
    min-height: 59px;
    font-family: 'Curlz MT';
    color: rgb(197, 26, 26);
    display: block;
    margin-right: 0%;
}

#textspan1 {
    float: none;
    font-size: 2.1em;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 91.428571%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 2em;
    margin-left: 3.43254%;
    margin-top: 355px;
    clear: none;
    min-height: 51px;
    font-family: 'Segoe UI';
}

@media only screen and (max-width: 923px) {
    #box1 {
        margin-top: 44px;
        margin-left: 0%;
        clear: both;
    }

    #text3 {
        margin-top: 114px;
        margin-left: -45.3836%;
        clear: none;
    }

    #text4 {
        margin-top: 153px;
        margin-left: -45.3836%;
        clear: none;
    }

    #text5 {
        margin-top: 516px;
        margin-left: -43.528237%;
        clear: none;
    }
}

@media only screen and (max-width: 880px) {
    #text3 {
        margin-top: 7px;
        margin-left: 29.058949%;
        clear: both;
    }

    #text4 {
        margin-top: 0px;
        margin-left: 29.058949%;
        clear: both;
    }

    #text5 {
        margin-top: 18px;
        margin-left: 33.542259%;
        clear: both;
    }

    #text2 {
        margin-top: 29px;
        margin-left: 29.058949%;
        clear: both;
    }

    #box1 {
        margin-top: 16px;
        margin-left: 28.295455%;
        clear: both;
        width: 48.50142%;
    }

    #text1 {
        margin-top: 361px;
        margin-left: 4.165523%;
        clear: none;
    }
}

@media only screen and (max-width: 707px) {
    #box1 {
        width: 61.229226%;
        margin-top: 19px;
        margin-left: 22.884989%;
        clear: both;
    }

    #text2 {
        margin-top: 26px;
        margin-left: 29.057638%;
        clear: both;
    }

    #text3 {
        margin-top: 7px;
        margin-left: 29.057638%;
        clear: both;
    }

    #text4 {
        margin-top: 0px;
        margin-left: 29.057638%;
        clear: both;
    }

    #text5 {
        margin-top: 18px;
        margin-left: 33.541814%;
        clear: both;
    }
}

@media only screen and (max-width: 431px) {
    #text2 {
        margin-top: 0px;
        margin-left: 2.606584%;
        clear: both;
        height: auto;
        width: 95.729408%;
    }

    #text3 {
        margin-top: 0px;
        margin-left: 2.606584%;
        clear: both;
        height: auto;
        width: 95.729408%;
    }

    #text5 {
        margin-top: 22px;
        margin-left: 0%;
        clear: both;
        height: auto;
        width: 98.335992%;
    }

    #box1 {
        height: 546px;
        width: 93.869635%;
        margin-top: 19px;
        margin-left: 6.12674%;
        clear: both;
    }

    #text4 {
        height: auto;
        margin-top: 0px;
        margin-left: 2.606584%;
        clear: both;
        width: 97.389791%;
    }
}

